<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <h:head>
        <title>IGMG Evasão</title>
    </h:head>
    <h:body>
        <script>
            String pRetorno = null;
                    Bd com = new Bd();
            com.selectSitAluno();
        </script>
        <h1 align="center">Alerta de Evasão</h1>
        <h3></h3>

        <h:dataTable value="#{controleSituacao.getlistaSitucao}" var="listaSituacao" >
            <h:column>
                <h:outputText value="#{listaSituacao.nome}"/>
            </h:column>
            <h:column>
                <h:outputText value="#{listaSituacao.situacao}"/>
            </h:column>
        </h:dataTable>
    </h:body>
</html>



